ol li{
  list-style-type: none;
}
body{
  background-color: lightblue;
  font-family: 'Josefin Sans', sans-serif;
  text-align:center;
}

#countBtn{
  padding:14px 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size:14px;
}
#clearBtn{
  padding:14px 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size:14px;
}
#clearComplete{
  padding:14px 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size:14px;
}
section{
  margin-top:10%;
}
h1{
  font-size:40px;
}
input[value="add item to list"] {
    padding:10px;
    border:5px solid #7913d3;
    background-color:#4e0f89;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
}
input[placeholder="what needs to get done?"] {
    padding:10px;
    width:30%;
    text-align:center;
    font-size:12px;
    border:5px solid #7913d3;
    background-color:#4e0f89;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
}
.strikeThrough{
  text-decoration:line-through;
}
/* button {
  display:none;
} */
